LogosDocuments/
__pycache__/
screenshots/
data/notes/
data/debug/
data/from-notes.db/notes/
exported-notes/
test-export/
bin/

node_modules/
.DS_Store
.vscode/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

